    /* --------------------------------------------*/
    /*               Fontes Externas               */
    /* --------------------------------------------*/
    
    @font-face {
        font-family: sifonn;
        src: url('fonts/sifonn.otf');
    }
    /* --------------------------------------------*/
    /*               Média Queries                 */
    /* --------------------------------------------*/
    /* --------------------------------------------*/
    /*               Layout Principal              */
    /* --------------------------------------------*/
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        color: white;
    }
    
    body {
        background-color: #d0d0d0;
        overflow: hidden;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .container-fluid {
        height: 93vh !important;
    }
    
    .content {
        float: right;
    }
    
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    
    .td_center {
        text-align: center;
        align-content: center;
        vertical-align: middle;
    }
    
    .nowp {
        white-space: nowrap;
    }
    
    .loader {
        border: 16px solid #d0d0d0;
        /* Light grey */
        border-top: 16px solid #17263d;
        /* Blue */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
    }
    
    #loading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    
    #loadingModal {
        z-index: 1100 !important;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* --------------------------------------------*/
    /*              Header Layout                  */
    /* --------------------------------------------*/
    
    .lay_header {
        color: white;
        background-color: #128B0B;
        width: 100%;
        height: 40px;
    }
    
    .lay_header .title {
        font: 18px sifonn;
        float: left;
        padding: 9px 3em;
    }
    
    .lay_login {
        float: right;
        margin: 6px 1em 0 0;
    }
    
    .lay_account {
        float: right;
        font-weight: bold;
        margin-left: 1em;
        font-size: 10px;
    }
    
    .lay_logout {
        float: right;
        margin-left: 1em;
    }
    
    .icon {
        width: 22px;
    }
    
    .icon-s {
        width: 22px;
        margin-right: 1vh;
    }
    
    .icon_menu {
        width: 2rem;
        margin-right: 1.6rem;
    }
    
    .icon_logs {
        float: right;
        margin-right: 3rem;
    }
    
    .menu_ext ul li {
        padding-left: 1.1rem;
    }
    
    .glyphicon {
        float: right !important;
    }
    
    .menu_active {
        border-left: 10px solid #17263d !important;
        background-color: #ebe8e8;
        border: black solid 0.5px 0px;
        ;
    }
    /* --------------------------------------------*/
    /*             Panel Layout + Grid             */
    /* --------------------------------------------*/
    
    .ui-grid {
        width: 100%;
        height: 65vh;
    }
    
    .invent>.ui-grid {
        width: 100%;
        height: 60vh;
    }
    
    .ui-grid-row-selected {
        z-index: 1 !important;
    }
    
    .pad-ct {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 1vh;
    }
    
    .panel-heading,
    .panel-heading>.nav>.active-l>a {
        color: #17263d !important;
        font-weight: bold;
        text-decoration: none;
    }
    
    .panel {
        height: 92vh;
    }
    
    .panel-body {
        padding: 5px 10px;
    }
    
    .pbread {
        height: 87vh !important;
    }
    
    .nav-tabs>li>a {
        line-height: 0.8 !important;
    }
    
    .ptabs {
        padding: 4px 15px !important;
    }
    
    thead {
        line-height: 0.5;
        background-color: #17263d;
        color: white;
    }
    
    tbody td {
        vertical-align: middle !important;
    }
    
    .ui-grid-canvas,
    .ui-grid-filter-input {
        color: #17263d !important;
    }
    
    .grid_cell {
        margin: 0 12px;
        border-radius: 15px 50px
    }
    
    .ui-grid-header-cell,
    .ui-grid-cell {
        text-align: center !important;
        overflow: visible !important;
    }
    
    .ui-grid-row,
    .ui-grid-cell {
        height: 27px !important;
    }
    
    .ui-grid-cell-contents {
        padding: 4px !important;
    }
    
    .ui-grid-header-cell {
        color: white !important;
        font-size: 1.3rem;
        font-weight: normal;
        background-color: #17263d !important;
    }
    
    .ui-grid-row:hover .ui-grid-cell {
        background-color: #B6C3C6;
    }
    
    .ui-grid-filter-select {
        color: black;
    }
    
    .grid_cell>p {
        padding: 3px;
        font-size: 12px;
    }
    
    .panel-heading>.nav>.active-l>a {
        color: #555;
        background-color: #f5f5f5;
        border: 1px solid #17263d;
        border-bottom-color: transparent;
        cursor: default
    }
    
    .panel-heading>.nav>li>a {
        background-color: #adadad;
        border-bottom-color: #17263d;
    }
    
    .nav-tabs {
        border-bottom-color: #17263d !important;
    }
    
    .nav-tabs>li>a:hover {
        background-color: #6f6f6f;
    }
    
    .breadcrumb-item>a {
        color: #17263d;
        font-weight: bold;
        text-decoration: underline;
    }
    
    .breadcrumb {
        margin-bottom: 0px;
        margin-top: 1vh;
        display: flex;
        padding: 0px 15px !important;
        height: 4vh !important;
        align-items: center;
    }
    
    .options {
        border-radius: 5px;
        border: 3px solid #17263d;
        background-color: #cccdce;
        z-index: 999;
    }
    
    .icon_action {
        background-color: inherit !important;
        text-decoration: none !important;
        float: none !important;
        padding: 5px;
    }
    
    .options button:hover {
        background-color: #e2e2e2 !important;
    }
    
    .actionsGrid {
        padding: 2em;
    }
    
    .progress-bar {
        background-color: #09678c !important;
    }
    
    .progress {
        margin-bottom: 0px !important;
    }
    
    .lineDet>td>img {
        height: 15px;
        float: right
    }
    
    .lineDet {
        border-top: 2px solid black;
    }
    
    td .wborder {
        border-left: 0px;
        border-bottom: 0px;
    }
    /* ------------------------------------------------*/
    /*  Cores relacionadas aos status dos documentos   */
    /* ------------------------------------------------*/
    
    .stat0 {
        background: -webkit-linear-gradient(#CECECE, #A2A2A2);
        background: linear-gradient(#CECECE, #A2A2A2);
    }
    
    .stat1 {
        background: -webkit-linear-gradient(#96D26E, #3E9A01);
        background: linear-gradient(#96D26E, #3E9A01);
    }
    
    .stat8 {
        background: -webkit-linear-gradient(#70A8CD, #3E84B1);
        background: linear-gradient(#70A8CD, #3E84B1);
    }
    
    .stat7 {
        background: -webkit-linear-gradient(#E06565, #FF4545);
        background: linear-gradient(#E06565, #FF4545);
    }
    
    .stat4 {
        background: -webkit-linear-gradient(#A935FF, #8D41C5);
        background: linear-gradient(#A935FF, #8D41C5);
    }
    
    .stat2 {
        background: -webkit-linear-gradient(#FFFF79, #EAEA2F);
        background: linear-gradient(#FFFF79, #EAEA2F);
    }
    
    .stat9 {
        background: -webkit-linear-gradient(#FFA4A4, #F33D28);
        background: linear-gradient(#FFA4A4, #F33D28);
        color: white !important;
    }
    
    .stat10 {
        background: -webkit-linear-gradient(#FFBF48, #FFA500);
        background: linear-gradient(#FFBF48, #FFA500);
    }
    
    .statred {
        background-color: #f2a9a9;
    }
    
    .statgreen {
        background-color: #9bff9f;
    }
    
    .icon_grid {
        height: 35px;
        background-color: #efefef;
        padding: 5px;
        border: 1px solid #9c9c9c;
        border-radius: 12px;
        float: left;
        margin-right: 3px;
    }
    
    .icon_grid:hover {
        background-color: #d8d5d5;
    }
    
    .buttons_grid {
        margin: 5px 0 0 2%;
    }
    
    button:focus {
        outline-width: 0px !important;
    }
    
    #wave_grid {
        margin-left: 10vw;
        font-weight: bold;
        display: none;
    }
    
    .th_grid {
        white-space: nowrap;
        border: 1px solid white;
        vertical-align: middle !important;
        text-align: center;
        background-color: white;
    }
    
    .th_grid>button {
        margin: 0px 3px;
    }
    
    .th_grid>button>.icon {
        background-color: white;
    }
    
    .td_grid_dt {
        white-space: nowrap;
        vertical-align: middle !important;
    }
    
    .td_grid:not(th) {
        text-align: center;
        background-color: white;
    }
    
    .td_grid:not(th)>button {
        padding: 0px 2px;
    }
    
    .form_bread {
        height: 66vh !important;
    }
    
    .form_fields {
        overflow-y: auto;
        height: 72vh;
        margin-bottom: 3vh;
    }
    
    .table.dataTable {
        margin-bottom: 0px !important;
    }
    
    .redClass {
        background-color: #EDC1C1 !important;
    }
    
    .table>tbody>tr>td {
        padding: 2px 3px !important;
    }
    
    .table>tbody>tr:hover {
        background: rgb(212, 212, 212);
    }
    
    #div_buttons {
        width: auto;
        height: auto;
        padding: 6px 6px;
        background-color: #172540;
        position: absolute;
        z-index: 2;
    }
    /* ------------------------------------------------*/
    /*  Impressão  */
    /* ------------------------------------------------*/
    
    .printConfig {
        padding: 10px 15px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
    
    .alert-info a {
        color: #31708f !important;
        text-decoration: underline !important;
    }
    
    td .form-control {
        display: block;
        height: 24px;
        padding: 1px 4px;
    }
    
    td .form-control input[type=number] {
        width: 100%;
    }
    /* -------------------------------------------------
    /* TABELA DINAMICA (TRANSFERENCIA MANUAL, ETC...) */
    /* ------------------------------------------------*/
    
    .table-din thead,
    .table-din tbody,
    .table-din tr,
    .table-din td,
    .table-din th {
        display: block;
    }
    
    .table-din tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    
    .table-din tbody {
        height: 30vh;
        overflow-y: auto;
    }
    
    .table-din tbody td,
    .table-din thead th {
        width: 16.66%;
        float: left;
    }
    
    .table-din input {
        width: 80%
    }
    
    .table-din .icon {
        width: 17px !important;
    }
    /* ------------------------------------------------- */
    
    .dataTables_info {
        float: left !important;
    }
    
    .dataTables_paginate {
        float: right !important;
    }
    
    .dataTables_paginate>a {
        color: black;
    }
    
    .dataTables_filter input,
    .dataTables_length select {
        padding: 2px 4px;
        font-size: 12px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    }
    
    .dataTables_scrollBody {
        z-index: 1 !important;
    }
    
    .dataTables_group {
        background-color: #404e65 !important;
        font-weight: bold;
    }
    
    .dataTables_group>td {
        color: white !important;
    }
    /* --------------------------------------------*/
    /*                   Menu                      */
    /* --------------------------------------------*/
    
    .lay_menu {
        float: left;
        padding: 8px 15px;
    }
    
    .lay_menu_op {
        float: left;
        font-family: 'Verdana';
        font-size: 1.4rem;
        padding-top: 3px;
        background-color: #F3F3F3;
        width: 100%;
        height: 93vh;
        color: #464a55;
        box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    
    .lay_menu_op li a {
        border-left: 10px solid #128B0B;
        color: #464a55;
        display: inline-block;
        width: 100%;
        box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2);
        padding: 0.6rem 1rem;
        text-decoration: none;
    }
    
    .lay_menu_op li a:hover {
        border-left: 10px solid #17263d;
        background-color: #ebe8e8;
    }
    
    .lay_menu_sup {
        margin-right: 1vw;
        float: right;
        margin-bottom: 0px;
    }
    
    .btn-support {
        color: #128B0B;
        background-color: #F3F3F3;
        border-color: #128B0B;
        font-weight: bold;
    }
    
    .btn-support:hover {
        color: #128B0B;
        background-color: #ebe8e8;
    }
    
    .div_teste {
        width: 200px;
        height: 100px;
        background: #f00;
        position: absolute;
        z-index: 100;
        top: 30%;
        left: 40;
    }
    
    [aria-expanded=true] .menu_ext {
        border-left: 10px solid #17263d;
    }
    
    .is-accordion-submenu a {
        display: block;
        line-height: 1em;
    }
    
    .no-pad-rg {
        padding-right: 0px;
    }
    /* --------------------------------------------*/
    /*               Página de Login               */
    /* --------------------------------------------*/
    
    .login {
        background-color: #F3F3F3;
        color: #128B0B;
        padding-top: 9%;
    }
    
    .login label {
        color: #128B0B;
    }
    
    .login_page {
        margin: auto;
        text-align: center;
        font: 22px sifonn;
        color: #128B0B;
    }
    
    .login_page_inputs {
        margin: 0 auto;
    }
    
    .login_page_rodape {
        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        background-color: #128B0B;
    }
    
    .button {
        background-color: #172540;
    }
    /* --------------------------------------------*/
    /*                 Dashboard                   */
    /* --------------------------------------------*/
    
    .grid-stack {
        margin-top: 5px;
    }
    
    .dash_sep {
        background-color: #17263d;
        color: white;
    }
    
    .dash_prod {
        background-color: #3fb39e;
        color: white;
    }
    
    .dash_rec {
        background-color: #ff9919;
        color: white;
    }
    
    .icon_dash {
        height: 5.5rem;
        margin-right: 1rem;
    }
    
    .kpi {
        margin: auto;
        border: 1px solid #868686;
        color: white;
        font-size: 2rem;
        text-align: center;
        border-radius: 5px;
    }
    /* --------------------------------------------*/
    /*                 Instalador                  */
    /* --------------------------------------------*/
    
    .table tr {
        box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2);
        line-height: 0.5;
        color: #172540;
    }
    
    .table td {
        color: #172540;
    }
    
    .table th {
        color: white;
        background-color: #17263d;
        font-weight: normal;
    }
    
    .btn span.glyphicon {
        opacity: 0;
    }
    
    .btn.active span.glyphicon {
        opacity: 1;
    }
    /* --------------------------------------------*/
    /*                Formulários                  */
    /* --------------------------------------------*/
    
    .input_ok {
        border-color: #128B0B !important;
    }
    
    .input_error {
        border-color: red !important;
    }
    
    .input-group-text {
        padding: 0.5vh 0.8vw;
        background-color: #128b0b !important;
    }
    
    .drop_header {
        background-color: #d5d5d5 !important;
        font-weight: bold !important;
        color: #17263d !important;
        vertical-align: middle !important;
        border-bottom: 1px solid black !important;
    }
    
    .drop_row {
        padding-left: 2vw;
        color: black;
        vertical-align: middle;
        border-bottom: 1px solid black;
    }
    
    .drop_row .input-group-text {
        background-color: #d1d1d1;
    }
    
    .permission {
        background-color: #92E48D !important;
    }